//>>>>> Component Button Here <<<<<//
.theme-btn {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-flex;
    gap: 15px;
    border: none;
    text-align: center;
    background-color: $theme-purple-2;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    padding: 20px 30px;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;

    i {
        margin-left: 5px;
        position: relative;
        z-index: 10;
    }

    &::after,&::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%,-50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: $theme-yellow-4;
        transition: 1s ease;
        pointer-events: none;
    }

    &::before {
        top: -1em;
        left: -1em
    }

    &::after {
        left: calc(100% + 2em);
        top: calc(100% + 2em)
    }

    &:hover {
        color: $header-color;
        box-shadow: none;

        &::after,&::before {
            height: 510px;
            width: 510px
        }
    }

    &.hover-white {
        &::after,&::before {
            background-color: $white;
        }

        &:hover {
            color: $header-color;
        }
    }

    &.yellow-btn {
        background-color: $theme-yellow;
        color: $header-color;
        
        &::after,&::before {
            background-color: $header-color;
            z-index: -1;
        }

        &:hover {
            color: $white !important;
            
            i {
                color: $white !important;
            }
        }
    }

    &.red-btn {
        background-color: $theme-red;
        color: $white;
        
        &::after,&::before {
            background-color: $header-color;
        }

        &:hover {
            color: $white;
        }
    }

    &.pink-btn {
        background-color: $theme-pink;
        color: $white;
    }

    &.theme-blue-2 {
        background-color: $theme-purple-2;
        color: $white;
        
        &::after,&::before {
            background-color: $theme-yellow-4;
        }

        &:hover {
            color: $header-color;
        }
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}


//>>>>> Component Button End <<<<<//